# Node modules
node_modules/

# Environment variables
.env

# VSCode settings
.vscode/

# Logs
*.log
elo-log.csv

# Match and player data
game_*/
player/
lastMatch_*.json

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
